<table width="100%">
  <tr>
    <td style="text-align:center"><h1><a href="/v">Valid</a></h1></td>
    <td style="text-align:center"><h1><a href="/i">Invalid</a></h1></td>
    <td style="text-align:center"><h1><a href="/u">Unsure</a></h1></td>
  </tr>
</table>
<hr>
<table width="100%">
  <tr>
    <td style="text-align:center" width="50%"><h1><%= wiki %></h1></td>
    <td style="text-align:center" width="50%"><h1><%= cyc %></h1></td>
  </tr>
</table>
<iframe src="<%= wiki_url %>" align="left" height="80%" width="45%"></iframe>
<iframe src="<%= cyc_url %>" align="right" height="80%" width="45%"></iframe>