%h1 Datasets

%table.table
  %tr
    %th Name
    %th Statements
    %td
  - @datasets.each do |dataset|
    %tr
      %td= link_to dataset.name, dataset_path(dataset)
      %td= dataset.statements.count
      %td= link_to "destroy", dataset, method: :delete

.btn.btn-default
  = link_to "New dataset", new_dataset_path
